.picklist-container,
.lookup-container{
    width : 90%;
    margin: 0 auto;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown{
    position: relative !important;
    z-index: 99 !important;
    max-height: 200px;
    overflow: scroll;
}

[lightning-combobox_combobox-host]{
    margin-bottom: 17px;
}

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}

.c-extended-datatable .slds-scrollable_y,
.c-extended-datatable .slds-scrollable--y,
.c-extended-datatable .slds-scrollable_x,
.c-extended-datatable .slds-scrollable--x {
    overflow: visible;
}

/* .slds-table_edit thead th:first-child{
    width: 60px;
} */